
body{
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
}

h1{
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 0.8rem;
}
p{
  font-size: 1.2rem;
}

.app{
  padding: 7% 4%;
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 2rem;
}
.app-container {
  padding: 2rem;
  border: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.list-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  
}

.d-flex {
  display: flex;
}

.m-1 {
  margin: 8px;
}

.act-btn {
  border-radius: 100% !important;
  height: 32px;
  justify-content: space-between;
}


.card {
  display: flex;
  padding: 24px;
  align-items: center;
  border: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 15px 0px;
  border-radius: 12px;
}
.card:hover{box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all ease-in-out 800ms;
}

.btn-torniweb {
  padding: 8px;
  font-size: 0.8rem;
  max-width: 120px;
  border-radius: 8px;
  background: #565D99;
  color: white;
  border: none;
}

.btn-torniweb--success {
  background: rgb(61, 148, 76);
  width: 10rem;
}

.card-list {
  display: flex !important;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

#form-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.form-modal__content {
  display: block;
  background-color: #fefefe;
  border-radius: 12px;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

.close-modal {
  text-align: right;
  width: 100%;
  float: right;
  cursor: pointer;
}

#contact-form {
  
}