
body{
  text-align: center;
}
h1{
  color: #fff;
  text-align: center;
  font-weight: 700;
  margin-bottom: 0.8rem;
}
p{
  font-size: 1.2rem;
}
ul{
  font-size: 1.2rem;
  padding-left: 0;
  list-style: none;
}
li{
  margin-bottom: 0.4rem;
  font-size: 1.4rem;
  font-weight: 500;
}
ul li:before {
  content: '✓  ';

}
/*NAVBAR SECTION*/
#banner{
  background: white;
  padding: 0 4%;
}
/*CENTER DE BRAND */
@media (max-width:650px) {
  #navbar-main{
    display: block;
  }

}
.callus{
  flex-grow: 1;
  text-align: right;
}
h4{
  margin-left: 0.5rem;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 700;
  display: inline;
}
.icon-nav{
  color: #060606;
}
#phonenumber{
  color: #313E94;
  margin-left: 0;
}
/*TITLE SECTION*/
@media (max-width:1000px) {
  button{
    flex-grow: 1;
  }

}
@media (max-width:640px) {
  .callus{
    text-align: center;
  }

}
#a-navbar{
  list-style: none;
  font-size: 1.5rem;
  color: #313E94;
}
#a-navbar-first{
  padding-left: 1;
  list-style: none;
  font-size: 1.5rem;
  color: #313E94;
}
/*HOME SECTION*/
#home{
  padding: 15% 10%;
  height: 50rem;
  background-size: contain;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-position: right center;
  text-align: left;
  color: #0000;
}

.home-title{
  color: black;
  font-size: 3.8rem;
  padding: 4% ;
  float:center;
  text-align: left;

}

/*FEATURES SECTION*/
#features{
  padding: 3% 23%;
  background: #e7e7e7ef;
}
.feature-box{
  text-align: center;
  padding: 0;
}
.icon{
  color: rgb(0, 0, 0);
  margin-bottom: 3rem;
  text-align: center;
}
.icon:hover{
  color: #415462;
}
h3{
  color: rgb(0, 0, 0);
  font-weight: 800;
}
.feature-box p{
  color: #E8E8E8;
}

/*LEMA¨*/
#byespc{
  padding: 5% 15%;
}
.torniweb-title{
  color: black;
  font-size: 4rem;
  font-weight: 1000;
}

/*NEGOCIO*/
#negocio{
  padding: 7% 15%;
  padding-top: 0;
  padding-bottom: 0;
}
.margin{
  margin-bottom: 1rem;
}
/*NEGOCIO SECTION*/
.negocio-title{
  color: black;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
}
.header-one{
  background-color: #565D99;

}
.header-two{
  background-color: #565D99;

}
.header-three{
  background-color: #565D99;

}

/*Mision y Vision*/
#misionV{
  padding: 1% 22%;
  padding-top: 2;

}

.misionV-box{
  text-align: justify;
  padding: 1%;
  background: #e0e9f4fb;
}
.misionV-img{
  padding-top: 1%;
  width: 90%;
  height: 18rem;
  margin-right: 10%;
}


/*INFO SECTION*/
.info{
  padding: 0;
  color: #ffffff;
  font-size: 3rem;
  font-weight: 100;
  line-height: 7;
  padding-top: 1;
  
}

.header-four > h3{
  color:rgb(255, 255, 255)
  
}

.header-four{
  background-color: #404579;
}


/*OUR SERVICES*/
#services{
  background-color: #333f48;
  padding: 0 15%;
  text-align: justify;
}
.services-box{
  float: left;
  padding: 5%;
  color: white;
}


/*TESTIMONIALS SECTION*/
#testimonials{
  background: #04a5ed;

}
.carousel-item{
  padding: 7% 15%;
}
.carousel-item h1{
  line-height: 1.5;
  font-size: 3rem;

}
em{
  color: #333f48;
  font-size: 1.2rem;
}
.img-testimonials{
  width: 10%;
  border-radius: 100%;
  margin: 20px;

}


/*MAPS SECTION*/

#maps{
  background-color: #0769b2;
  margin: 0;
  padding: 0;

}
.mapy{
  height: 400px;
  padding-right: 0;
}
.map-frame{
  padding: 0;
  margin: 0;
  width: 100%;
  height: inherit;
}
/*MAPS SECTION - Contacts*/
.contact{
  padding: 5% 5% 0 5%;
  margin-left: 0;
  text-align: left;
}
.contact h3{
  font-weight: 500;
  text-align: left;
}
.form-control{
  background: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;

  color: white;
}
.form-control::placeholder{
  color: white;
}


/*FOOTER SECTION*/
footer{
  padding: 3% 15% 2% 15%;
  background-color: #333f48;
}
footer p{
  color: white;
}
.ic-foot{
  margin: 5px;
  color: white;


}
